<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link rel="stylesheet" href="/css/style.css"> <!-- se tiver CSS -->
</head>

<body>
    <header>
        <nav>
            <a href="/noticia/listagem">Cadastro Notícia</a> |
            <% if (session && session.userId) { %>
                <a href="/user/logout">Sair</a>
                <% } else { %>
                    <a href="/user/login">Login</a>
                    <% } %>
        </nav>
        <hr>
        <style>
            #loading-overlay {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(255, 255, 255, 0.8);
                z-index: 9999;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .spinner {
                border: 6px solid #f3f3f3;
                border-top: 6px solid #3498db;
                border-radius: 50%;
                width: 60px;
                height: 60px;
                animation: spin 1s linear infinite;
                margin-bottom: 15px;
            }

            @keyframes spin {
                0% {
                    transform: rotate(0deg);
                }

                100% {
                    transform: rotate(360deg);
                }
            }
        </style>

    </header>

    <div id="loading-overlay" style="display: none;">
        <div class="spinner"></div>
        <p>Processando, aguarde...</p>
    </div>